<h3>Create your budget</h3>
<%= form_tag '/budgets', method: :post do %>

  <div>
  <label>Budget Name</label>
  <input type="text" name="name">
  </div>

  <div>
  <label>Category Name: </label>
  <input type="text" name="cat_names[]">
  </div>  
  <div>
   <label>Category Percent</label> <input type="text" name="cat_percent[]">
  </div> 

  <div id='form'></div>

  <input type="submit" value="Create Budget">
<% end %>
<button onclick="addCategory()"> Add Category </button>